<mat-grid-list cols="4" rowHeight="1:1" >
    <mat-grid-tile *ngFor="let note of notes">
        <mat-card class="example-card">
            <mat-card-title>
               <h3>{{note.taskName}}</h3>
            </mat-card-title><br>
        
            <mat-card-content>
                <mat-card-subtitle>
                    {{note.taskContent}}
                </mat-card-subtitle><br>
                <mat-chip>{{note.taskCategory}}</mat-chip>
            </mat-card-content><br>
            <!-- <button mat-raised-button color="accent" id="editButton" ></button>        -->
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>