

<div class="centre">
    <div class="modal-content">
      <div class="modal-header">
        <div id="heading" >
            <h3>
                Are you confirm ??
            </h3>
    
        </div>
        <br>
      </div>
      <div class="modal-body">

        <form (submit)="update()">
      
      
          <div>
            <mat-radio-group aria-label="Overall priority"  name="taskCompleted"  [(ngModel)]="task.taskCompleted" id="taskCompleted">
                <mat-label class="radioBu">Is This Task Completed</mat-label><br>
                <mat-radio-button class="radioBu" value="true">yes</mat-radio-button>
                <mat-radio-button class="radioBu" value="false">no</mat-radio-button>
            </mat-radio-group>
          </div><br>
     

          <div id="btn">
            <button type="submit" mat-raised-button color="accent"><mat-icon>thumb_up</mat-icon></button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button mat-raised-button color="accent" (click)="cancel()"><mat-icon>thumb_down</mat-icon></button>
          </div>
        </form>

      </div>
    
    </div>

</div>






