mat-form-field {
  display: block;
  padding: 5px;
}

p{
  display: flex;
  margin:0px;
  justify-content: center;
  padding-bottom: 10px;
}

/* .form {
  display: flex;
  flex-direction: column;
} */

.backcolor{
  background-color:white
}

.card{
  /* padding: 30px;
  width: 600px;
  position: relative;
  right: -30em;
  bottom: -1em;
  border-radius: 10px; */
  /* background-image: "../../assets/images/loginbackground.webp"; */
  margin: 100px auto ;
  height: 800px;
  width: 700px;
  padding: 10px;
}

#alreadyUserSpan{
  margin-left: 9em;
}
#upload{
 display: none;
 visibility:hidden;
}
#imageUpload{
  text-align: center;
}
#icon{
  height: 100px;
  width: 100px;
  font-size: 80px;
}