.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('../../assets/images/1342400-middle.png');
  background-size:cover;
  border: 1px solid;
 
}

#title{
  font-size: xx-large;
  margin-left: 20px;
}
#date{
  display: flex;
  justify-content: space-between;
}

.card {
  background-color:aliceblue;
    border-radius: 4px;
    margin-top: 80px;
    padding: 5px;
    width: 350px;
    text-align: center;
    float: left; 
    margin-left: 100px;
    
  }
.low{
    background-color:rgb(160, 240, 140);
}
.medium{
    background-color:rgb(242, 203, 131);
}

.high{
    background-color:rgb(228, 153, 143);
}
.critical{
  background-color:rgb(227, 79, 59);
}


  mat-card-title{
    display: flex;
    
    justify-content: space-around;
    padding: 10px;
  }
  .header1{
    font-size: xx-large;

  }
  .header2{
    font-size: x-large;
  }
  h6{
    display: inline;
    background-color: rgb(47, 221, 221);
    padding: 10px;
    border-radius: 15px;
    
  }
  .button{
    display: inline;
    float: right;
    margin-left: 20px;
  }
  .cat{
    float: left;
    margin-top: 10px;
  }
  .cont{
    margin:2px
  }


  