
<app-search (searchs)="search($event)"></app-search>


<h1>{{check}}</h1>



<div id="ca">

    <div *ngFor="let note of notes">
      <mat-card class="card">
        <mat-card-title>
          <span>
            <h2>{{ note.taskName }}</h2>

            <mat-card-content>
  
              <p class="text-center">{{ note.taskContent }}</p>
            </mat-card-content>
            <ng-container [ngSwitch]="note.taskPriorityLevel">
              <ng-container *ngSwitchCase="'Critical'">
                <mat-icon style="float: right ;" color="warn" aria-hidden="false" aria-label="Example home icon"
                  fontIcon="gpp_maybe"></mat-icon>
              </ng-container>
              <ng-container *ngSwitchCase="'High'">
                <mat-icon color="warn" aria-hidden="false" aria-label="Example home icon" fontIcon="arrow_circle_up">
                </mat-icon>
              </ng-container>
              <ng-container *ngSwitchCase="'Low'">
                <mat-icon color="primary" aria-hidden="false" aria-label="Example home icon" fontIcon="arrow_circle_down">
                </mat-icon>
              </ng-container>
              <ng-container *ngSwitchCase="'Medium'">
                <mat-icon color="primary" aria-hidden="false" aria-label="Example home icon"
                  fontIcon="remove_circle_outline"></mat-icon>
              </ng-container>
              <ng-container *ngSwitchDefault>Code Default</ng-container>
            </ng-container>
          </span>
        </mat-card-title>
        <p> {{note.taskDeadline}}</p>
        
        <div id="category">
          {{note.taskCategory}}
        </div>
      </mat-card>
    </div>
  </div> 