<app-search (searchs)="search($event)"></app-search>

<div class="cont">
  <div id="con">

    <div *ngFor="let note of notes">

      <mat-card class="card" [ngClass]="{'critical': note.taskPriorityLevel == 'Critical',
                                          'high': note.taskPriorityLevel == 'High', 
                                         'medium': note.taskPriorityLevel == 'Medium',
                                          'low': note.taskPriorityLevel =='Low' }" >
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title style="color: black;">{{ note.taskName }}</mat-card-title>
          <mat-card-subtitle style="color: black;">{{note.taskCategory}}</mat-card-subtitle>
          
        <mat-card-title-group>
          
              <ng-container [ngSwitch]="note.taskPriorityLevel">
              <ng-container *ngSwitchCase="'Critical'">
                <mat-icon style="float: right ;" color="warn" aria-hidden="false" aria-label="Example home icon"
                  fontIcon="gpp_maybe" (click)="refresh(note.taskPriorityLevel)" ></mat-icon>
              </ng-container>
              <ng-container *ngSwitchCase="'High'">
                <mat-icon color="warn" aria-hidden="false" aria-label="Example home icon" fontIcon="arrow_circle_up" (click)="refresh(note.taskPriorityLevel)">
                </mat-icon>
              </ng-container>
              <ng-container *ngSwitchCase="'Low'">
                <mat-icon color="primary" aria-hidden="false" aria-label="Example home icon" fontIcon="arrow_circle_down" (click)="refresh(note.taskPriorityLevel)">
                </mat-icon>
              </ng-container>
              <ng-container *ngSwitchCase="'Medium'">
                <mat-icon color="accent" aria-hidden="false" aria-label="Example home icon" (click)="refresh(note.taskPriorityLevel)"
                  fontIcon="remove_circle_outline"></mat-icon>
              </ng-container>
              <ng-container *ngSwitchDefault>Code Default</ng-container>
            </ng-container>
          </mat-card-title-group>
        </mat-card-header>
        <hr>
        <mat-card-content>
          <p class="text-center" style="color: black;">{{ note.taskContent }}</p>
         
        </mat-card-content>
        <hr>
        <div style="justify-content: space-between;">
          
          <div class="button">
            <p>
              {{note.taskDeadline}}
            </p>
            <button mat-icon-button color="primary" (click)="update1(note.taskName)"
            aria-label="Example icon button with a home icon">
            <mat-icon>check</mat-icon>
          </button>
            <button mat-icon-button color="primary" (click)="update(note.taskName)"
             aria-label="Example icon button with a home icon">
             <mat-icon>edit</mat-icon>
           </button>
           <button mat-icon-button color="warn" (click)="delete(note)" aria-label="Example icon button with a home icon">
             <mat-icon>delete</mat-icon>
           </button>
         </div>
        </div>
        
      </mat-card>

    </div>

  </div>

</div>

<button id="addButton" mat-fab color="warn" (click)="add()">
  <mat-icon>add</mat-icon>

</button>































