mat-form-field {
  display: block;
}

p {
  display: flex;
  margin: 0px;
  justify-content: center;
  padding-bottom: 10px;
  font-family: sans-serif;
  font-size: x-large;
}

.form {
  display: flex;
  flex-direction: column;
}

.card {
  margin: 200px auto;
  height: 470px;
  width: 550px;
  padding: 25px;
  background-color:aliceblue;
  border-radius: 8px;
  box-shadow: 6px 6px 3px 0px rgba(69, 68, 68, 0.75);
}

#alreadyUserSpan {
  margin-left: 30%;
  font-size: large;
  cursor: pointer;
}

.button {
  display: flex;
  justify-content: center;
  bottom: 1em;
}

.emailId,
.password {
  display: flex;
  border-radius: 10px;
  padding: 5px;
  margin: 1px, 0;
}
.passwordShowButton {
  position: relative;
  left: 85%;
  top: -38.5%;
}

input{
width: 90%;
border: none;
outline: none;
margin-left: 10px;
padding: 10px;
}
