<div class="logindiv">
<mat-card class="card">
    <!-- <img src="../../assets/images/loginbackground.webp" alt="login image"> -->
<p>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <strong>Login Form</strong>
        </mat-toolbar-row>
    </mat-toolbar>
</p><br>
<div class="backcolor">
    <form class="form" (ngSubmit)="onLogin()" [formGroup]="loginForm">

            <mat-form-field appearance="fill">
                <input matInput placeholder="Email Id" type="text" id="emailId" formControlName="emailId"  [(ngModel)]="email" />
                <mat-error *ngIf="emailId?.errors?.['required']">
                    Email Id is required.
                </mat-error>     
            </mat-form-field><br>

            <mat-form-field appearance="fill">
                <input matInput type="text" placeholder="Password" id="password" formControlName="password" [type]="show ? 'text' : 'password'">
                <mat-error *ngIf="password?.errors?.['required']">
                    Password is required.
                </mat-error>
            </mat-form-field>
            <br>
            <div class="button">
                <button color="primary" mat-button mat-raised-button [disabled]="loginForm.invalid" type="submit"class="button alt-gradient-button" >Log In</button>
            </div>
        </form>
</div>

<span class="passwordShowButton">
    <button mat-button (click)="passwordFunc()">{{show ? 'Hide' : 'Show'}}</button>
</span>

<span id="alreadyUserSpan">
    <strong>New User ? Please  </strong><a style="color: blue;" (click)="registerRoutefunc()">Register</a>
</span>
</mat-card>
</div>

