.example-card {
   
    padding: 10px;
    width: 600px;
    border-radius: 10px;
    padding-left: 160px;    
}
img{
  
    width: 250px;

    border: 1px solid;
    border-radius: 80%;
}
strong{
    letter-spacing: 3px;
    color:dodgerblue;
    padding-left: 50px;
    padding: auto;
}
.detail{
    letter-spacing: 3px;
    padding-left: 25px;
    color: #000;
}
