
   <div class="example-card">

    
        <span class="headerSpan">
            <h1><strong>My Profile</strong></h1>
        </span><br><br>
        <span>
            <!-- <img [src]="'data:image/jpeg;base64,'+userDetail.img"> -->
            <img src="https://www.w3schools.com/w3images/avatar2.png" alt="">
        </span><br><br>
        <mat-card-title class="detail">Name: {{userDetail.firstName}}&nbsp;{{userDetail.lastName}}</mat-card-title><br><br>
        <mat-card-subtitle class="detail">Mobile No.:7854125896 </mat-card-subtitle><br><br>

        <mat-card-subtitle class="detail">EmailId:{{userDetail.emailId}}  </mat-card-subtitle>



    </div>